<!-- Timeline Section -->
<script>document.getElementsByTagName("html")[0].className += " js";</script>
<section class="cd-h-timeline js-cd-h-timeline" id="history">
    <div class="cd-h-timeline__container container">
      <div class="cd-h-timeline__dates">
        <div class="cd-h-timeline__line">
          <ol>
            <li><a href="#0" data-date="01/04/2008" class="cd-h-timeline__date cd-h-timeline__date--selected">Apr 2008</a></li>
            <li><a href="#0" data-date="01/01/2014" class="cd-h-timeline__date">Jan 2014</a></li>
            <li><a href="#0" data-date="01/09/2015" class="cd-h-timeline__date">Sep 2015</a></li>
            <li><a href="#0" data-date="01/02/2018" class="cd-h-timeline__date">Feb 2018</a></li>
            <li><a href="#0" data-date="01/05/2019" class="cd-h-timeline__date">May 2019</a></li>
            <li><a href="#0" data-date="01/01/2021" class="cd-h-timeline__date">Jan 2021</a></li>
          </ol>

          <span class="cd-h-timeline__filling-line" aria-hidden="true"></span>
        </div> <!-- .cd-h-timeline__line -->
      </div> <!-- .cd-h-timeline__dates -->
        
      <ul>
        <li><a href="#0" class="text-replace cd-h-timeline__navigation cd-h-timeline__navigation--prev cd-h-timeline__navigation--inactive">Prev</a></li>
        <li><a href="#0" class="text-replace cd-h-timeline__navigation cd-h-timeline__navigation--next">Next</a></li>
      </ul>
    </div> <!-- .cd-h-timeline__container -->

    <div class="cd-h-timeline__events">
      <ol>
        <li class="cd-h-timeline__event cd-h-timeline__event--selected text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Lead Developer,<br />Samsung Electronics</h2>
            <em class="cd-h-timeline__event-date">Apr 2008 – Dec 2013, Full-time, Local</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              Started as an intern in the product development department of Samsung Electronics Busan (Korea) branch, as the result of winning design in People electronics design contest. Took 2 years to become a junior mobile applications engineer. In year 4, got elevated to the role of lead developer overseeing a team of 7 web/mobile developers and 2 designers
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Freelancing Developer</h2>
            <em class="cd-h-timeline__event-date">Jan 2014 – Aug 2015, Remote</em>
            <p class="cd-h-timeline__event-description color-contrast-medium">
              Worked on Ruby on Rails and Javascript projects on short-term contract basis. Find more on <a href="#project-map">freelanced projects section</a>.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">
              Full-stack Developer,<br/>
              <a href="https://www.polco.us" target="_blank">Polco.us</a>
            </h2>
            <em class="cd-h-timeline__event-date">Sep 2015 – Nov 2017, Full-time, Remote</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              Contributed to the wider and more transparent citizen engagement in metropolitan policy-making. Led the development of:<br />
              <ul>
                <li>Voter verification flow</li>
                <li>All data visualizations using D3JS</li>
              </ul>
              <hr />
              <i>Ruby on Rails, ReactJS, D3JS, ElasticSearch</i>
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">
              Full-stack Developer,<br/>
              <a href="https://www.replaypoker.com" target="_blank">Replay Poker</a>
            </h2>
            <em class="cd-h-timeline__event-date">Feb 2018 – Apr 2019, Full-time, Contractor, Remote</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              Designed and developed a number of features and utilities for the online multiplayer poker game, including:<br />
              <ul>
                <li>Tournament engine</li>
                <li>Bot-to-bot game simulator</li>
                <li>In-room chats and nudges</li>
              </ul>
              <hr />
              <i>Ruby on Rails, ReactJS, AWS, GraphQL, Socket.io</i>
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">
              Ruby on Rails Developer,<br/>
              <a href="https://financeforge.com" target="_blank">Finance Forge</a>
            </h2>
            <em class="cd-h-timeline__event-date">May 2019 – Dec 2020, Full-time, Remote</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              Built the beta version of the futuristic and centralized online banking system. Contributions include:<br />
              <ul>
                <li>Multi-tenant architecture</li>
                <li>Bank simulator engine</li>
                <li>Stronger security measures</li>
              </ul>
              <hr />
              <i>Ruby on Rails, StimulusJS, Banking System Analysis</i>
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Here I am</h2>
            <em class="cd-h-timeline__event-date">Year 2021</em>
            <p class="cd-h-timeline__event-description color-contrast-medium"> 
              While looking for my next job of passion, I am vigorously polishing my skills in Ruby on Rails, Typescript and GraphQL.
            </p>
          </div>
        </li>

      </ol>
    </div> <!-- .cd-h-timeline__events -->
    <script src="{{ "/js/timeline/util.js" }}"></script>
    <script src="{{ "/js/timeline/swipe-content.js" }}"></script>
    <script src="{{ "/js/timeline/main.js" }}"></script>
  </section>

